@model IEnumerable<WebKhachHang.Models.TblKhachHang>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamSinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgheNghiep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cmnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThamGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemTichLuy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemHienCo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiKhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaTkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamSinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgheNghiep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cmnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThamGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemTichLuy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemHienCo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTkNavigation.MatKhau)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaKh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaKh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaKh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
